
/* ==================================
   NAVBAR
================================== */

.top-navbar{
    height:95px;

    background:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 40px;

    border-bottom:
        1px solid #edf2f7;

    box-shadow:
        0 2px 15px rgba(
            0,
            0,
            0,
            .03
        );
}

.top-navbar small{
    color:#1da1ff;
    font-weight:700;
    font-size:10px;
}

.top-navbar h2{
    margin:0;
    color:#0f172a;
    font-size:48px;
    font-weight:700;
}

.admin-profile{
    display:flex;
    align-items:center;
    gap:18px;
}

.admin-profile span{
    color:#334155;
    font-size:16px;
}

.admin-profile .avatar{
    width:50px;
    height:50px;

    border-radius:50%;

    background:
    linear-gradient(
        135deg,
        #1da1ff,
        #2563eb
    );

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;
    font-weight:700;

    box-shadow:
        0 10px 20px rgba(
            37,
            99,
            235,
            .3
        );
}

.logout-btn{
    background:
    linear-gradient(
        135deg,
        #1da1ff,
        #2563eb
    );

    padding:14px 32px;

    border-radius:40px;

    color:white;
    text-decoration:none;

    font-weight:600;

    transition:.3s;
}

.logout-btn:hover{
    color:white;
    transform:translateY(-2px);

    box-shadow:
        0 10px 25px rgba(
            37,
            99,
            235,
            .35
        );
}