/* SECTION 3 AWAL */
.stats{

    padding:100px 0;
}

.stat-card{

    text-align:center;

    background:#17233f;

    padding:40px;

    border-radius:25px;
}

.stat-card h2{

    font-size:3rem;

    color:#38bdf8;
}
/* SECTION 3 SELESAI */
